@CHARSET "ISO-8859-1";

@font-face {
    font-family: Technics;
    src: url(../fonts/technics.woff);
}

/*Set general font, reset margin, set text-align to be center, disable user select, set default cursor*/
body {
    font-family: 'Technics';
    margin: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#header {
    width: 100%;
    background-color: #792D5C;
    height: 75px;
}

#header-title {
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    text-align: left;
    font-family: Arial;
    padding-left: 2%;
    padding-top: 0.8%;
    letter-spacing: 3px;
    margin: 0;
}

img#logo {
    height: 60px;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: ;
    left: 220px;
}

div#form-container {
    width: 50%;
    margin: 6% auto;
    border-radius: 3px;
    padding: 4%;
    box-shadow: 0px 0px 7px #c8c8c8;
}

div#form-container form input:focus {
	box-shadow: 0 0px 3px #792D5C !important;
	border: 1px solid #792D5C;
}

div#form-container form button {
    background-color: #792D5C;
    color: white;
}

div#form-container form button:hover {
    box-shadow: 0 0px 3px #792D5C !important;
}

div#form-container .error-login-block {
    display: block;
    margin-bottom: 2%;
	color: #a94442;
}

#footer {
    height: 50px;
    background-color: #792D5C;
    width: 100%;
    position:fixed;
    bottom:0;
}

#signature {
    color: white;
    font-family: Helvetica;
    padding-top: 1%;
    text-align: left;
    font-size: 12px;
    float: right;
    padding-right: 1%;
    transition: opacity 0.4s ease;
    opacity: 0.8;
}

#signature:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
}
    
@media screen and (max-width: 800px) {
    div#form-container {
	    width: 90%;
	    margin: 10% auto;
    }
}

@media screen and (max-width: 450px) {
    img#logo {
        left: 190px;
    }
}
