@CHARSET "ISO-8859-1";

@font-face {
    font-family: Technics;
    src: url(../fonts/technics.woff);
}

/*Set general font, reset margin, set text-align to be center, disable user select, set default cursor*/
body {
    font-family: 'Technics';
    margin: 0;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

#main-container {
   position: relative;
}

#header {
    width: 100%;
    background-color: #792D5C;
    height: 80px;
}

#header-title {
    text-transform: uppercase;
    color: white;
    font-size: 48px;
    text-align: left;
    font-family: Arial;
    padding-left: 2%;
    padding-top: 0.8%;
    letter-spacing: 3px;
    margin: 0;
}

img#logo {
    height: 60px;
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 220px;
}

#username-holder {
	display: inline;
	margin-top: -5%;
	float: right;
	color: white;
	font-size: 18px;
	margin-right: 1%;
	cursor: pointer;
}

#logout-span {
	font-size: 16px !important;
    margin-left: 5px;
}

h1 {
    width: 99%;
    text-align: center;
    font-size: 52px;
    font-weight: 100;
}

#go-top {
    position: fixed;
    right: 0.01%;
    text-decoration: none;
    color: white;
    background-color: #d8d8d8;
    font-size: 14px;
    padding: 15px;
    margin: 0;
    border-radius: 10px 0 0 0;
    top: 82%;
    z-index: 999;
}

#go-top:hover {
    border-bottom: 3px solid #792D5C;
    transition: border-bottom 0.3s ease;
}

#controls-container {
    max-width: 1100px;
    width: 80%;
    height: 300px;
    width: 100%;
    max-width: 1100px;
    margin: 6% auto;
    min-height: 300px;
    align-items: center;
}

a.function-link {
    text-decoration: none;
    color: #535353;
    text-align: center;
    width: 200px;
    float: left;
    margin: 0 3% 5% 3%;
    transition: border-bottom 0.4s ease;
    border-bottom: 3px solid white;
    font-size: 18px;
}

a.function-link:hover {
    border-bottom: 3px solid #792D5C;
    transition: border-bottom 0.05s ease;
}

 a.function-link:hover > .icon-div {
    box-shadow: 0px 0px 17px #d8d8d8;
    transition: box-shadow 0.1s ease;
}

.icon-div {
    display: inline-block;
    margin: 0.5% 0 5% 0;
    transition: box-shadow 0.4s ease;
}

#icon-motion-sensor {
    width: 200px;
    height: 200px;
    background-image: url('../img/icon-motion.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#icon-motion-sensor:hover {
    background-image: url('../img/icon-motion-hover.png');
}

.time-change-event {
    border-bottom: 3px solid #792D5C;
}

#icon-led-lamp {
    width: 200px;
    height: 200px;
    background-image: url('../img/icon-diode.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#icon-led-lamp:hover {
    background-image: url('../img/icon-diode-hover.png');
}

#icon-temp-sensor {
    width: 200px;
    height: 200px;
    background-image: url('../img/icon-temp.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#icon-temp-sensor:hover {
    background-image: url('../img/icon-temp-hover.png');
}
#icon-settings {
    width: 200px;
    height: 200px;
    background-image: url('../img/icon-settings.png');
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#icon-settings:hover {
    background-image: url('../img/icon-settings-hover.png');
}

.divider-image {
	margin-top: 9%;
	margin-bottom: 9%;
}

.controls-content-title {
    font-size: 55px;
}

.controls-content {
    height: 400px;
    background-color: #f8f8f8;
    padding: 2%;
}

.controls-content-img {
    height: 200px;
    display: inline;
    float: right;
    margin-top: -5%;
    margin-right: 6%;
    box-shadow: 0 0 35px #e4e4e4;
    border-radius: 100px;
}

#motion-data input.btn-toggle + label {
    margin-top: 1.5%;
}

#led-data input.btn-toggle + label {
    margin-top: 3%;
}

#current-color {
    height: 20px;
    width: 20px;
    display: inline-block;
    float: left;
    margin-top: 1.7%;
    border-radius: 50px;
    margin-left: 0.5%;
}
    
#color-picker-label {
	margin-top: 2%;
}

#color-picker {
	width: 20%;
    margin-top: 5%;
    margin-left: -4%;
}

label.toggle-button-label {
    font-family: Technics;
    font-size: 24px;
    color: #535353;
    text-align: left;
    float: left;
    margin-top: 1%;
}

label.toggle-button-label a,
label.toggle-button-label a:hover {
	text-decoration: none;
	color: #792D5C;
}

input.btn-toggle {
    max-height: 0;
    max-width: 0;
    opacity: 0;
}

input.btn-toggle + label {
    display: block;
    position: relative;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    text-indent: -5000px;
    height: 30px;
    width: 50px;
    border-radius: 15px;
    margin-top: 2.5%;
    cursor: pointer;
}

input.btn-toggle + label:before {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background: rgba(19, 191, 17, 0);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input.btn-toggle-red + label:before {
    background: #A94442 !important;
}

input.btn-toggle-red:checked + label::after {
    box-shadow: 0px 0px 0px 1px #A94442 inset, 0px 2px 4px rgba(0, 0, 0, 0.2) !important;
}
input.btn-toggle + label:after {
    content: "";
    position: absolute;
    display: block;
    height: 30px;
    width: 30px;
    top: 0;
    left: 0px;
    border-radius: 15px;
    background: white;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

input.btn-toggle:checked + label:before {
    width: 50px;
    background: #4DCB6D;
}

input.btn-toggle:checked + label:after {
    left: 20px;
    box-shadow: inset 0 0 0 1px rgba(19, 191, 17, 1), 0 2px 4px rgba(0, 0, 0, .2);
}

#temp-data {
	height: 700px;
}

#temp-controls-container {
    height: 160px;
    float: left;
}

.temp-unit-img {
    height: 40px;
    float: right;
    margin-top: 6%;
    margin-right: 12%;
}

.btn-radio {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
    margin-left: -9999px;
    visibility: hidden;
}

/* style label */
input.radio:empty ~ label {
    position: relative;
    float: left;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D8D8D8;
    border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
    color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
    content:'\2714';
    text-indent: .9em;
    color: #9CE2AE;
    background-color: #4DCB6D;
}

input.radio:checked ~ label {
    color: #777;
}

.temp-value {
    width: 100%;
}

#settings-data {
    height: 710px;
}

#settings-data input.btn-toggle + label {
    margin-top: 1.5%;
}

#footer {
    height: 50px;
    background-color: #792D5C;
    width: 100%;
    position:fixed;
    bottom:0;
}

#signature {
    color: white;
    font-family: Helvetica;
    padding-top: 1%;
    text-align: left;
    font-size: 12px;
    float: right;
    padding-right: 1%;
    transition: opacity 0.4s ease;
    opacity: 0.8;
}

#signature:hover {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.letter-highlight {
    font-weight: bold;
    color: rgba(19, 191, 17, 1);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 15px;
}

/* Media Queries */
@media screen and (min-width:  1600px) {
    /*Media query supporting anything LARGER than 1600px*/
    #username-holder {
        margin-top: -3%;
    }
}

@media screen and (min-width:  1600px) {
    /*Media query supporting anything LARGER than 1450px */
    #led-data {
       height: 500px;
    }
}

@media screen and (max-width: 1300px) {
    #color-picker {
       margin-left: -2%;
       margin-top: 6%;
   }
   
    #led-data input.btn-toggle + label {
       margin-top: 5%;
    }
   
    #settings-data input.btn-toggle + label {
       margin-top: 3.5% !important;
    }
   
    #motion-data input.btn-toggle + label {
	   margin-top: 3.5%;
    }
}

@media screen and (max-width: 1070px) {
   #controls-container {
        padding-left: 15%;
   }
}

@media screen and (max-width: 910px) {
   #controls-container {
        padding-left: 10%;
   }
}

@media screen and (max-width: 830px) {
   #controls-container {
        padding-left: 20%;
   }
}

@media screen and (max-width: 750px) {
	a.function-link {
	    width: 100%;
	    margin: 3% auto;
	}
	
	#controls-container {
        padding-left: 0;
   }
	
	.icon-div {
	    width: 80% !important;
	    display: block;
        margin: 0 auto;
	}
	
	#color-picker {
        margin-top: 15%;
    }
    
    #color-picker-label {
        float: left !important;
    }
}
@media screen and (max-width: 600px) {
	label.toggle-button-label {
        float: left;
        margin-left: -1%;
	}
	
	.divider-image {
	    width: 30%;
	    display: block;
        margin: 5% auto;
	}
	
	.controls-content {
        height: 550px;
	}
	
	.controls-content-img {
        display: block;
        float: none !important;	
	}
	
	input.btn-toggle + label {
	   margin-top: 2%;
	}
	
	#temp-data {
	    height: 900px;
	}
	
	#led-data input.btn-toggle + label {
	    margin-top: 9%;
	}
}

@media screen and (max-width: 450px) {
    label.toggle-button-label {
	    float: left;
	    margin-left: -1%;
    }

    .controls-content-img {
        height: 100px;
    }

    img#logo {
        left: 190px;
    }
    
    #temp-controls-container .temp-value {
        font-size: 18px;
    }
}

@media screen and (max-width: 360px) {
    #controls-container {
        width: 80% !important;
    }
    
    .icon-div {
        width: auto;
    }
    
    #username-holder {
        float: left;
        margin-left: 3%;
    }
}